.container {
  display: flex;
  gap: 100px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.textContainer h1 {
  font-size: 80px;
  width: 150%;
  z-index: 1;
}
.textContainer p {
  font-size: 18px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.button {
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  min-width: 120px;
  transition: all ease 0.3s;
}
.button:hover {
  background-color: var(--btn);
  color: white;
}
.button:first-child {
  background-color: var(--btn);
  color: white;
  transition: all ease 0.3s;
}
.button:first-child:hover {
  background-color: white;
  color: black;
}

.brands {
  width: 500px;
  height: 50px;
  position: relative;
  filter: grayscale(1);
}

.imageContainer {
  flex: 1;
  position: relative;
}

@media screen and (max-width: 768px) {
  .textContainer {
    width: 120%;
  }
  .brands {
    width: 100%;
  }
}
